body {
  font-family: Arial, Helvetica, serif;
  font-size: 12px;
}

html::-webkit-scrollbar {
  width: 2vw;
}

:root {
  --clr-primary-black: black;
  --clr-primary-white: white;
  
  --clr-nutreal-t: tomato;
  --clr-nutreal-s: seagreen;
  
  --default-width-min: 5em;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary-white);
}

html::-webkit-scrollbar-track {
  background-color: var(--clr-primary-black);
}

h2 {
  color: var(--clr-primary-white);
}

#btn {
  width: var(--default-width-min);
  padding-bottom: 5px;
  margin-right: 3px;
  text-align: center;
  background-color: var(--clr-primary-white);
  color: var(--clr-primary-black);
  padding: 5px;
  border-radius: 4px;
  transition: 1s;
}

#copy {
  width: var(--default-width-min);
  background-color: var(--clr-primary-white);
  color: var(--clr-primary-black);
  padding: 5px;
  border-radius: 4px;
  transition: 1s;
}

.box {
  margin: 8px;
  background-color: var(--clr-primary-black);
  padding: 5px;
  border-radius: 10px;
}

#passwd {
  justify-items: center;
  align-items: center;
  background-color: var(--clr-primary-black);
  color: var(--clr-primary-white);
}

.ordered-list {
  color: var(--clr-primary-white);
}

.updates {
  color: var(--clr-primary-white);
}

#des {
  color: var(--clr-primary-white);
}

#btn:hover {
  background-color: var(--clr-nutreal-t);
  color: var(--clr-primary-white);
  border-color: var(--clr-nutreal-t);
}

#copy:hover {
  background-color: var(--clr-nutreal-t);
  color: var(--clr-primary-white);
  border-color: var(--clr-nutreal-t);
}

#credits-1 {
  color: var(--clr-primary-white);
  text-decoration: none;
}

#credits-2 {
  color: var(--clr-primary-white);
  text-decoration: none;
}

#credits-1:hover {
  color: var(--clr-nutreal-t);
  text-decoration: none;
}

#credits-2:hover {
  color: var(--clr-nutreal-t);
  text-decoration: none;
}

#credits-1:visited {
  color: seagreen;
}

#credits-2:visited {
  color: seagreen;
}