body {
  font-family: Arial, Helvetica, serif;
  font-size: 12px;
}

h2 {
  color: white;
}

#btn {
  margin: 3px;
  text-align: center;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 4px;
  transition: 1s;
}

#copy {
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 4px;
  transition: 1s;
}

.box {
  margin: 8px;
  background-color: black;
  padding: 5px;
  border-radius: 10px;
}

#passwd {
  justify-items: center;
  align-items: center;
  background-color: black;
  color: white;
}

#ordered-list {
  color: white;
}

#des {
  color: white;
}

#btn:hover {
  background-color: tomato;
  color: white;
}

#copy:hover {
  background-color: tomato;
  color: white;
}

#credits-1 {
  color: white;
  text-decoration: none;
  transition: 1s;
}

#credits-2 {
  color: white;
  text-decoration: none;
  transition: 1s;
}

#credits-1:hover {
  color: tomato;
}

#credits-2:hover {
  color: tomato;
}

#credits-1:visited {
  color: seagreen;
}

#credits-2:visited {
  color: seagreen;
}